<div class="main-panel">
    <div class="homepage-columns">
        <div class="display-row">
            <div class="left-menu">
                <div class="need-actions">
                    <div class="title"> Needs action </div>
                    <div>
                        <div class="queue-item">
                            <div tabindex="0" class="action-arrow" id="TaskstoReview"><input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
                                <div
                                    class="queue-item--wrapper"><span class="queue-item--name">Tasks to Review</span> <span class="warning-text-red" aria-hidden="true"
                                        style="display: none;"></span> <span class="warning-text-regular">19 OVERDUE</span>
                                    <span
                                        class="queue-item--count">19</span>
                            </div>
                        </div>
                    </div>
                    <div class="queue-item">
                        <div tabindex="0" class="action-arrow" id="BumpListPatientstoSchedule"><input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
                            <div
                                class="queue-item--wrapper"><span class="queue-item--name">Bump List Patients to Schedule</span> <span class="warning-text-red"
                                    aria-hidden="true" style="display: none;"></span> <span class="warning-text-regular" aria-hidden="true"
                                    style="display: none;"></span> <span class="queue-item--count">9</span></div>
                    </div>
                </div>
                <div class="queue-item">
                    <div tabindex="0" class="action-arrow" id="WaitListPatientstoSchedule"><input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
                        <div
                            class="queue-item--wrapper"><span class="queue-item--name">Wait List Patients to Schedule</span> <span class="warning-text-red"
                                aria-hidden="true" style="display: none;"></span> <span class="warning-text-regular" aria-hidden="true"
                                style="display: none;"></span> <span class="queue-item--count">7</span></div>
                </div>
            </div>
            <div class="queue-item">
                <div tabindex="0" class="action-arrow" id="VisitstoConfirm"><input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
                    <div
                        class="queue-item--wrapper"><span class="queue-item--name">Visits to Confirm</span> <span class="warning-text-red" aria-hidden="true"
                            style="display: none;"></span> <span class="warning-text-regular" aria-hidden="true" style="display: none;"></span>                        <span class="queue-item--count" aria-hidden="true" style="display: none;">0</span></div>
            </div>
        </div>
        <div class="queue-item">
            <div tabindex="0" class="action-arrow" id="SuperbillstoPost"><input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
                <div
                    class="queue-item--wrapper"><span class="queue-item--name">Superbills to Post</span> <span class="warning-text-red" aria-hidden="true"
                        style="display: none;"></span> <span class="warning-text-regular" aria-hidden="true" style="display: none;"></span>                    <span class="queue-item--count">4</span></div>
        </div>
    </div>
    <div class="queue-item">
        <div tabindex="0" class="action-arrow" id="ClaimRejectionstoReview"><input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
            <div
                class="queue-item--wrapper"><span class="queue-item--name">Claim Rejections to Review</span> <span class="warning-text-red" aria-hidden="true"
                    style="display: none;"></span> <span class="warning-text-regular" aria-hidden="true" style="display: none;"></span>                <span class="queue-item--count">27</span></div>
    </div>
</div>
<div class="queue-item">
    <div tabindex="0" class="action-arrow" id="StatementstoPrint"><input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
        <div
            class="queue-item--wrapper"><span class="queue-item--name">Statements to Print</span> <span class="warning-text-red" aria-hidden="true" style="display: none;"></span>            <span class="warning-text-regular" aria-hidden="true" style="display: none;"></span> <span class="queue-item--count">54</span></div>
</div>
</div>
<div class="queue-item">
    <div tabindex="0" class="action-arrow" id="CorrespondencetoSend"><input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
        <div
            class="queue-item--wrapper"><span class="queue-item--name">Correspondence to Send</span> <span class="warning-text-red" aria-hidden="true" style="display: none;"></span>            <span class="warning-text-regular" aria-hidden="true" style="display: none;"></span> <span class="queue-item--count"
                aria-hidden="true" style="display: none;">0</span></div>
</div>
</div>
</div>
</div>
<div class="reminders">
    <div class="title"> Reminders </div>
    <div>
        <div class="queue-item">
            <div tabindex="0" class="action-arrow" id="OverdueTasksIHaveAssigned"><input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
                <div
                    class="queue-item--wrapper"><span class="queue-item--name">Overdue Tasks I Have Assigned</span> <span class="warning-text-red" aria-hidden="true"
                        style="display: none;"></span> <span class="warning-text-regular">14 OVERDUE</span> <span class="queue-item--count">14</span></div>
        </div>
    </div>
    <div class="queue-item">
        <div tabindex="0" class="action-arrow" id="Transmissionshavefailed"><input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
            <div
                class="queue-item--wrapper"><span class="queue-item--name">Transmissions have failed</span> <span class="warning-text-red" aria-hidden="true"
                    style="display: none;"></span> <span class="warning-text-regular" aria-hidden="true" style="display: none;"></span>                <span class="queue-item--count" aria-hidden="true" style="display: none;">0</span></div>
    </div>
</div>
</div>
</div>
<div class="quick-actions">
    <div class="title"> Shortcuts: </div> <a class="dashboardAction" id="recordAttendanceActionInHomePage">Record Attendance</a> <a class="dashboardAction"
        aria-hidden="true" style="display: none;">File Documents</a> <a class="dashboardAction">Search Claims</a> </div>
</div>
<div class="dashboard-wrapper">
    <div>
        <div class="workqueue-position-wrappers">
            <div class="frontdesk-dashboard-wrapper">
                <div class="dashboard-content">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="left-panel">
                                <div class="dashboard-title"> Today's Overview </div>
                                <div class="position--relative margin-top-15px margin-left-10px margin-right-5px">
                                    <div class="top-right"> <button type="button" class="secondary-button">View calendar</button> </div>
                                    <div class="total-appointment-today">1 Appointments</div>
                                    <div class="appointment-count-wrapper" aria-hidden="true" style="display: none;">
                                        <div class="appointment-indicator"></div>
                                        <div class="appointment-count">0 First-time appointments</div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="appointment-count-wrapper">
                                        <div class="appointment-indicator"></div>
                                        <div class="appointment-count">1 Returning patients</div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="right-panel">
                                <div class="dashboard-title"> My View </div>
                                <div class="margin-top-15px">
                                    <div>
                                        <div>
                                            <div class="appointmentLegendItem width-135px display--inline-block">
                                                <div>
                                                    <div class="background--blue_desat opacity-80pct display--inline-block width-10px height-10px margin-top-1px"
                                                        style="background-color: rgb(38, 67, 153);"></div>
                                                    <div class="appointmentLegendItem display--inline-block margin-left-3px width-110px">Dr. RITZKY</div>
                                                </div>
                                            </div>
                                            <div class="appointmentLegendItem width-135px display--inline-block"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dashboard-title margin-top-35px"> Appointments per Provider </div>
                                <div class="appointment-per-provider">
                                    <div class="chart-panel">
                                        <div class="appointment-pie-chart">
                                            <div style="position: relative;">
                                                <div dir="ltr" style="position: relative; width: 200px; height: 340px;">
                                                    <div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;"
                                                        aria-label="A chart.">
                                                        <svg width="200" height="340" aria-label="A chart." style="overflow: hidden;">
                                                            <defs id="defs"></defs>
                                                            <rect x="0" y="0" width="200" height="340" stroke="none"
                                                                stroke-width="0" fill="#f2f2f2"></rect>
                                                            <g>
                                                                <ellipse cx="100" cy="100" rx="90" ry="90" stroke="#ffffff" stroke-width="1"
                                                                    fill="#264399"></ellipse>
                                                                <text text-anchor="start" x="95.5" y="105.6" font-family="Helvetica"
                                                                    font-size="16" stroke="none" stroke-width="0" fill="#ffffff">1</text>
                                                            </g>
                                                            <g></g>
                                                        </svg>
                                                        <div aria-label="A tabular representation of the data in the chart."
                                                            style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;">
                                                            <table>
                                                                <thead>
                                                                    <tr>
                                                                        <th>Status</th>
                                                                        <th>Total</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Dr. RITZKY</td>
                                                                        <td>1</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div aria-hidden="true" style="display: none; position: absolute; top: 350px; left: 210px; white-space: nowrap; font-family: Helvetica; font-size: 16px;">1</div>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="display-cell right-cell"></div>
</div>
</div>
</div>