<div class="noprint main-header">
    <div *ngIf="!authService.isAuthenticated">
        <hr>
    </div>
    <div class="noPrint" id="patientNavigationBarApplicationHeader" *ngIf="authService.isAuthenticated">
        <div class="first-header">
            <div class="first-header--logo"> <a class="gwt-Anchor" id="logoAnchor" title="Home"></a> </div>
            <div class="first-header--user-roles">
                <div><a class="gwt-Anchor" id="username" title="Change User, Role or Settings">Nicholas Reeves, Administrator</a>                    <span class="dropdown-arrow"></span>
                    <div class="display--inline-block" id="topMenu"></div>
                </div>
            </div>
            <div class="first-header--locations">
                <div><a class="gwt-Anchor" id="locationMenuHeader" title="Select a Practice">Main clinic</a> <span class="dropdown-arrow"></span>
                    <div class="display--inline-block" id="locationMenu"></div>
                </div>
            </div>
            <div class="first-header--practices">
                <div><a class="gwt-Anchor" title="Select a Location">Abby Health Clinic</a> <span class="dropdown-arrow"></span>
                    <div class="display--inline-block"></div>
                </div>
            </div>
            <div class="first-header--help" id="helpIcon" title="Help">?</div>
            <div class="clearfix"></div>
        </div>
        <div class="second-header">
            <div class="second-header--logo"> <a class="gwt-Anchor" title="Home"></a> </div>
            <div class="second-header--menu"> <a class="settled-button margin-top-20px" title="Menu"><span class="fa fa-navicon font-size-20px"></span></a>                </div>
            <div class="second-header--search">
                <div class="patient-search">
                    <a class="logo" routerLink="/dashboard">
                        <!-- <ss2-pulse-logo></ss2-pulse-logo> -->
                    </a>

                    <button [class.active]="configService.activeLink === 'dashboard'" routerLink="/dashboard" *ngIf="authService.isAuthenticated">
                        <span><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</span>
                    </button>

                    <span class="spacer"></span>

                    <button [class.active]="configService.activeLink === 'user'" routerLink="/user" *ngIf="authService.isAuthenticated">
                        <span>Welcome {{authService.name | myCapitalize}}</span>
                    </button>

                    <button [class.active]="configService.activeLink === 'login'" routerLink="/login" *ngIf="!authService.isAuthenticated">
                        <span><i class="fa fa-sign-in" aria-hidden="true"></i> Login</span>
                    </button>

                    <button [class.active]="configService.activeLink === 'signup'" routerLink="/signup" *ngIf="!authService.isAuthenticated">
                        <span><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</span>
                    </button>


                    <!-- <button  id="dropdown" [mdMenuTriggerFor]="menu" *ngIf="authService.isAuthenticated"> -->
                    <!-- <span><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span> -->
                    <!-- </button> -->

                    <!-- <md-menu class="dropdown" #menu="mdMenu"> -->

                    <button [class.active]="configService.activeLink === 'user'" routerLink="/user">
                        <span><i class="fa fa-user" aria-hidden="true"></i> Profile</span>
                        </button>

                    <button [class.active]="configService.activeLink === 'settings'" routerLink="/settings">
                        <span><i class="fa fa-cog" aria-hidden="true"></i> Settings</span>
                        </button>

                    <button *ngIf="configService.accessLevel === 'admin'" [class.active]="configService.activeLink === 'pulse-component-lib'"
                        routerLink="/pulse-component-lib">
                        <span><i class="fa fa-cog" aria-hidden="true"></i> pulse component library</span>
                        </button>

                    <button id="logout" (click)="authService.logout()">
                        <span><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</span>
                        </button>
                    <!-- <div>
                        <a class="gwt-Anchor" title="Search">
                            <div class="settled-button magnifyglass"> <span class="fa fa-search font-size-20px"></span> </div>
                        </a>
                        <div tabindex="0" class="search-box-wrapper"><input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
                            <div>
                                <div class="search-box-wrapper">
                                    <div><span class="display--none">*</span><input type="text" class="search-box" maxlength="50"
                                            placeholder="Search patient by name, chart# or ID" id="searchPatientBox"></div>
                                    <a
                                        class="searchMagnifier"></a>
                                </div>
                            </div>
                        </div>
                        <a class="gwt-Anchor" title="Recent Patients">
                            <div class="settled-button recent-patients"> <span class="fa fa-chevron-down font-size-14px"></span> </div>
                        </a>
                    </div> -->
                </div>
            </div>
            <div class="second-header--unfinished-items"> <a class="settled-button margin-top-20px" id="unfinishedItemMenuID" title="Unfinished Items"><span class="fa fa-bookmark font-size-20px"></span> <div class="second-header--unfinished-items-count" style="display: inline-block;"> <div class="unfinished-items-count-background"></div> <span class="unfinished-items-count-number">20</span> </div> Unfinished Items</a>                </div>
            <div class="second-header--announcements"> <a class="settled-button margin-top-20px" title="Announcements &amp; Reminders"><span class="fa fa-sticky-note font-size-20px"></span> Notices</a>                </div>
            <div class="clearfix"></div>
        </div>
        <div class="homepage-notes-wrapper" id="reminders">
            <div class="reminders-wrapper">
                <div>
                    <div class="dashboard-announcement-wrapper">
                        <div class="dashboard-announcement-title"> <span>Announcements</span>
                            <div class="edit-panel"><button type="button" class="gwt-Button" id="announcementsViewEditButton">Edit</button></div>
                            <div class="save-panel" aria-hidden="true" style="display: none;"><button type="button" class="gwt-Button" id="announcementsViewSaveButton">Save</button>
                                <button
                                    type="button" class="gwt-Button" id="announcementsViewCancelButton">Cancel</button>
                            </div>
                        </div>
                        <div class="dashboard-announcement-body"> <textarea class="gwt-TextArea" maxlength="5000" disabled="" dir="ltr"></textarea> </div>
                    </div>
                </div>
                <div>
                    <div class="note-to-self-wrapper">
                        <div class="note-title"> <span>My Reminders</span>
                            <div class="edit-panel"><button type="button" class="gwt-Button" id="noteToSelfViewEditButton">Edit</button></div>
                            <div
                                class="save-panel" aria-hidden="true" style="display: none;"><button type="button" class="gwt-Button" id="noteToSelfViewSaveButton">Save</button>
                                <button
                                    type="button" class="gwt-Button" id="noteToSelfViewCancelButton">Cancel</button>
                        </div>
                    </div>
                    <div class="note-to-self-body"> <textarea class="gwt-TextArea" id="noteToSelfViewNote" disabled="" dir="ltr"></textarea> </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>